@model List<OrderListModel>
@{
    ViewData["Title"] = "GetOrders";
}

<h1>Orders</h1>
<hr />
@foreach (var order in Model)
	{
	<table class="table table-bordered table-sm mb-3">
		<thead class="bg-primary text-white">
			<tr>
				<td colspan="2">Order Id: #@order.OrderId</td>
				<th>Price</th>
				<th>Quantity</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var orderitem in order.OrderItems)
	{
            <tr>
                <td style="width:60px">
                    <img src="~/img/@orderitem.ImageUrl" width="50" />
                </td>
                <td>
                    @orderitem.Name
                </td>
                <td>
                    @orderitem.Price
                </td>
                <td>
                    @orderitem.Quantity
                </td>
            </tr>
	}

		</tbody>
		<tfoot>
			<tr>
				<td colspan="2">Customer Name:</td>
				<td>@order.FirstName @order.LastName</td>
				<td rowspan="3">Total : @order.TotalPrice()</td>
			</tr>
            <tr>
                <td colspan="2">Address:</td>
                <td>@order.Adress</td>
            </tr>
            <tr>
                <td colspan="2">Phone:</td>
                <td>@order.Phone</td>
            </tr>
            <tr>
                <td colspan="2">Email:</td>
                <td>@order.Email</td>
            </tr>
            <tr>
                <td colspan="2">Payment Sttatus:</td>
                <td>@order.PaymentTypes</td>
            </tr>
            <tr>
                <td colspan="2">Order Status :</td>
                <td>@order.OrderState</td>
            </tr>
		</tfoot>
	</table>


		 
	}

